.ContentItem {
  position: relative;
  width: 100%;
}

.ContentItem-form {
  position: absolute;
}

.ContentItem-textArea {
  padding: 0;
  resize: none;
  border: none;
  opacity: 0.2;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.AddRemoveButtons {
  display: flex;
}

.AddRemoveButtons-min,
.AddRemoveButtons-plus {
  width: 48px;
  height: 48px;
  background-color: #121212;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 36px;
}