.Form > * { margin-bottom: 20px; }

.Form-title {
  width: 100%;
  border-radius: 2px;
  border: 2px solid #121212;
  font-family: inherit;
  padding: 10px 20px;
  margin: 0;
  display: block;
  min-height: 84px;
  font-size: 1rem;
}

.Form-benzes {
  display: flex;
}

.Form-benz {
  width: 60px;
  height: 60px;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.Form-benz > input {
  opacity: 0;
}

.Form-benzContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Form-fileInput {
  max-width: 200px;
  display: block;
  width: 100%;
  background-color: #121212;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  font-weight: bold;
}

.Form-fileInput > input {
  opacity: 0;
  width: 0;
  display: block;
}